<h1>Fill in to See if your word is an anagram</h1>
<form action='/result'>
  <div class="form-group">
    <label for="one">First Word</label>
    <input id="one" name="sender" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="two">Second Word</label>
    <input id="two" name="sender" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find Out!</button>
</form>
<div>
</div>
