<h1>Fill in to See if your word is an anagram</h1>
<form action='/'>
  <div class="form-group">
    <label for="sender">Your name</label>
    <input id="sender" name="sender" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<div>
  <h2></h2>

</div>
