<h1>Fill in to See if your word is an anagram</h1>
  <form action='/result'>
    <div class="form-group">
      <label for="input1">First Word</label>
      <input id="input1" name="input1" class="form-control" type="text">
      </div>
      <div class="form-group">
      <label for="input2">Second Word</label>
      <input id="input2" name="input2" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Find Out!</button>
  </form>
  
