<h1>Fill in to See if your word is an anagram</h1>
<form action='/'>
  <div class="form-group">
    <label for="sender">First Word</label>
    <input id="one" name="sender" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sender">Second Word</label>
    <input id="two" name="sender" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find Out!</button>
</form>
<div>
  <h2></h2>

</div>
